*{
  font-family: monospace;
}
body{
  background-color: black;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}


.logo{
  
  font-size: 2.4rem;
  color: white;
  margin: 2rem;
  letter-spacing: 0.8rem;
  left : 1.5rem;
}
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-thumb{
  background: white;
  
  
}
.flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
}
.grid{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 4rem;
}
.one{
  overflow-y: scroll;
  overflow-x: hidden;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 10rem;
  margin-bottom:10rem;
}
.barBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border : solid 7px white;
  width : 30rem;
  gap: 5rem;
  padding : 4rem 0rem;
  margin: 10rem;

}
.TopLeftParent{
  position: absolute;
  top:0;
  left: 0;
}
.relative{
  position: relative;
}

.inline{
  display: block;
  font-family: monospace;
  margin: 0;
  padding: 0px;
  text-align: justify;
  
}
.inline p{
  display: inline;
  font-family: monospace;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin: 0;
  text-align: justify;
 
}
.canvas{
  box-shadow: 10px 15px white;
  background-color: black;
}

.fixed{
  position: fixed;
}
.menuBottom{
  margin: 0px;
  width: 100vw;
  height: 4rem;
  bottom: 0px;
}
.bar{
  background: black;
  border-top: white solid 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.btn2{
  background:transparent;
  text-align: center;
  color: white;
  padding: 0.2rem 0.5rem;
  width: 2rem;
  font-size: 1.4rem;
  margin: 10px;
}
.btn2:hover{
  border: white solid 1.5px;
  border-radius: 3px;
  
}
.btn2:active{
  background-color: white;
  color: black;
}
.btn{
  display: flex;
  background:black;
  padding: 0.2rem 0.5rem;
  color: white;
  width: 8rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 2rem;
  border: white solid 1.5px;
  box-shadow: white 2px 2px;
  text-align: center;
}
.btn:hover{
  background: white;
  color: black;
  box-shadow: white 2px 2px;
}
.btn:active{
  background: white;
  color: black;
  border: black solid 1.5px;
  box-shadow: white 2px 2px;
}
.fileLabel{
  display: flex;
  background:black;
  padding: 0.2rem 0.8rem;
  color: white;
  width: 10rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 1.8rem;
  border: white solid 1.5px;
  box-shadow: 2px 2px white;
  text-align: center;
}
.fileLabel:hover{
  background:white;
  color: black;
  
}
.fileLabel:active{
  background:white;
  color: black;
  border: white solid 1.5px;
  box-shadow: 2px 2px white;
}
.fileContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title{
  background-color: white;
  font-size: 0.6rem;
  padding: 0.1rem;
  width: 7rem;
  overflow: hidden;
  margin-top: 0.2rem;
}
.overflowHidden{
  overflow: hidden;
}

input[type="file"]{
  display: none;
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 0.7rem;
  background: rgb(0, 0, 0);
  border: white solid 1px;
  margin: -5%;
}
input[type=range]::-webkit-slider-thumb:hover {
  background: white;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: rgb(0, 0, 0);
  border-radius: 1.3px;
  box-shadow: 1px 1px white;
  border: 0.2px solid white;
}

